<!DOCTYPE html>
<html>
  <head>
    <title>PontyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <header id="header" class="alt">		
			 <!-- <a href="index.html" class="fas fa-home"></a> -->
				<nav>
          <a href="#">Rower</a>
          <a href="#">Serwis</a>
          <a href="#">Instrukcje</a>
          <%if current_user %>
            <%= current_user.email %>
          <%end%>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
				</nav>
			</header>
      <%= yield %>



		<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; Pontybike. All rights reserved.</li><li>Design: <a href="#">PONTYBIKE</a></li>
							</ul>
						</div>




    </div>

<!--  
    <script src="<%= asset_path 'main.js' %>"></script>   
    <script src="<%= asset_path 'util.js' %>"></script> 
    <script src="<%= asset_path 'breakpoints.min.js' %>"></script> 
    <script src="<%= asset_path 'browser.min.js' %>"></script> 
    <script src="<%= asset_path 'jquery.scrollex.min.js' %>"></script>
    <script src="<%= asset_path 'jquery.min.js' %>"></script>

   --> 

    
    
  </body>
</html>
